@import '../styles/styles.scss';

.signUpContainer {
    position: absolute;
    width: 400px;
    height: 604.5px;
    left: 22px;
    top: 28.5px;
}
.signin-link {
    color: $font-base-color;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.65px;
    line-height: 15px;
    margin-top: 15%;
    margin-bottom: 5%;
    text-align: center;
    text-decoration: none;
}
