@import '../../styles/styles.scss';

.formContainer {

    display: grid;
    justify-content: center;
    margin: auto;
    text-align: center;

}

.appImgContainer{
    
    &__mockAppImg {
        
        max-width:550px;
        max-height:800px;
        
    }

}

a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 1.65px;

    color: #000000;
}

